@font-face {
  font-family: "icomoon";
  src: url(../../../assets/fonts/icomoon/icomoon.eot?wt3bqo);
  src: url(../../../assets/fonts/icomoon/icomoon.eot?wt3bqo#iefix)
      format("embedded-opentype"),
    url(../../../assets/fonts/icomoon/icomoon.ttf?wt3bqo) format("truetype"),
    url(../../../assets/fonts/icomoon/icomoon.woff?wt3bqo) format("woff"),
    url(../../../assets/fonts/icomoon/icomoon.svg?wt3bqo#icomoon) format("svg");
  font-weight: var(--w-normal);
  font-style: normal;
  font-display: block;
}

.icon-letter,
.icon-search,
.icon-arrow-right {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: var(--w-normal);
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-letter:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
