.menu-list {
  display: flex;
}

.menu-item-light {
  color: var(--light);
  list-style: none;
  padding: 0 10px;
}

.menu-item-dark {
  color: var(--dark);
  text-transform: uppercase;
  padding: 0 12px;
}

.menu-item-normal {
  text-transform: uppercase;
  font-weight: var(--w-bold);
  font-size: var(--f-regular);
  color: var(--border-primary);
  padding: 0 10px;
  font-family: "var(--secondary-font)";
}

.menu-item-light > a,
.menu-item-dark > a,
.menu-item-normal > a {
  color: inherit;
  text-decoration: none;
}

.menu-item-light > a:hover,
.menu-item-dark > a:hover {
  color: var(--bg-primary);
}

.menu-item-normal > a:hover {
  color: var(--light);
}
