/* blog detail */
.blog-detail-card {
  display: flex;
}

.blog-detail-title {
  width: 750px;
}

.blog-detail-author {
  display: flex;
  align-items: center;
  margin-right: 90px;
}

.blog-detail-funeral > p {
  margin: 0 0 10px 20px;
  font-size: 14px;
  font-family: "var(--secondary-font)";
}

.blog-detail-funeral > p > span {
  font-weight: 700;
}

.blog-detail-info {
  padding: 80px;
}

.blog-detail-image {
  border-radius: 50%;
}

/* about page */
.about-page-heading {
  font-size: 30px;
  font-weight: 700;
  color: #3c4858;
  padding-bottom: 20px;
}

.about-page-layout {
  padding: 50px 90px;
}

/* 404 page */
.status-not-found {
  position: fixed;
  top: 40%;
  left: 43%;
  text-align: center;
}

.status-number {
  font-size: 50px;
  font-weight: 700;
}

.status-back {
  margin: 10px 0;
}

.status-back > button {
  padding: 7px 30px;
  border: 1px solid var(--text-primary);
}

.status-back > button:hover {
  background-color: var(--text-primary);
}
