.contact {
  display: flex;
  padding: 0 90px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
}

.contact-description {
  font-size: var(--f-regular);
  color: var(--text-secondary);
  margin: 30px 0 10px;
}

.contact-submit {
  display: flex;
  width: 650px;
  height: 40px;
  justify-content: space-between;
}

.contact-input {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 370px;
  border-bottom: 1px solid var(--text-secondary);
}

.contact-input > i {
  font-size: var(--f-primary);
  color: var(--text-secondary);
  margin-right: 10px;
}

.contact-input:hover {
  border-bottom: 2px solid var(--text-secondary);
}

.contact-dash-first,
.contact-dash-secondary {
  background-color: var(--border-primary);
}

.contact-dash-first {
  height: 20px;
  margin-bottom: 40px;
}

.contact-dash-secondary {
  height: 100px;
}
