.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark);
  padding: 35px 100px;
}

.footer-title {
  color: var(--border-primary);
  font-size: 12px;
  text-align: end;
  margin-top: 25px;
}
